<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haha.fastproject.base">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE/" />

    <application>

        <!--Android AutoSize-->
        <!--注意这个地方填的是dp-->
        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />

        <meta-data
            android:name="design_height_in_dp"
            android:value="812" />

        <!--ImmerBar-->
        <!--适配华为（huawei）刘海屏-->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <!--适配小米（xiaomi）刘海屏-->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

        <activity
            android:name="com.haha.fastproject.base.widget.webview.WebViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".widget.countrypicker.PickActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

    </application>

</manifest>